* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.homepage-container h1 {
  width: 200px;
  text-align: center;
  color: white;
  background-color: #fa7070;
  opacity: 0.8;
}

.homepage-body {
  display: flex;
  justify-content: space-between;
}

.homepage-container .allNotes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}

.selected-note {
  width: 50%;
  margin-right: 5%;
  padding: 0 2% 2% 2%;
  border-radius: 20px;
  color: #fbf2cf;
  background-color: #fa7070;
  letter-spacing: 1.6px;
  line-height: 1.5;
}

.selected-note .selectedNote-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-note h4 {
  font-weight: 500;
}

.selected-note span {
  font-size: 18px;
  font-weight: 700;
}

p {
  margin: 2px;
}

@media (max-width: 700px) {
  .homepage-container h1 {
    margin: 0px auto 20px auto;
  }

  .homepage-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
  }

  .homepage-container .allNotes {
    gap: 20px;
    width: 120%;
  }

  .selected-note {
    width: 100%;
    order: -1;
  }
}
